<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rental_id %>
    <%= form.number_field :rental_id, id: :booking_rental_id %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :booking_email %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.date_select :start_at, id: :booking_start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.date_select :end_at, id: :booking_end_at %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :booking_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
