<p id="notice"><%= notice %></p>

<p>
  <strong>Rental:</strong>
  <%= @booking.rental_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @booking.email %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @booking.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @booking.end_at %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booking.price %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
